In [0]:
from google.colab import drive    
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [0]:
import pandas as pd
import seaborn as sns

In [0]:
#loading dataset

df = pd.read_csv('drive/My Drive/AdvancedRegression/train.csv')

In [0]:
df.head()

   Id  MSSubClass MSZoning  ...  SaleType  SaleCondition SalePrice
0   1          60       RL  ...        WD         Normal    208500
1   2          20       RL  ...        WD         Normal    181500
2   3          60       RL  ...        WD         Normal    223500
3   4          70       RL  ...        WD        Abnorml    140000
4   5          60       RL  ...        WD         Normal    250000

[5 rows x 81 columns]

In [0]:
df.dtypes

Id                 int64
MSSubClass         int64
MSZoning          object
LotFrontage      float64
LotArea            int64
                  ...
MoSold             int64
YrSold             int64
SaleType          object
SaleCondition     object
SalePrice          int64
Length: 81, dtype: object

In [0]:
#Finding all cols with NA values

nacols = df.columns[df.isna().any()].tolist()
nacols

['LotFrontage',
 'Alley',
 'MasVnrType',
 'MasVnrArea',
 'BsmtQual',
 'BsmtCond',
 'BsmtExposure',
 'BsmtFinType1',
 'BsmtFinType2',
 'Electrical',
 'FireplaceQu',
 'GarageType',
 'GarageYrBlt',
 'GarageFinish',
 'GarageQual',
 'GarageCond',
 'PoolQC',
 'Fence',
 'MiscFeature']

In [0]:
df.shape

(1460, 81)

In [0]:
for x in nacols:
  print(x,df[str(x)].isna().sum())

LotFrontage 259
Alley 1369
MasVnrType 8
MasVnrArea 8
BsmtQual 37
BsmtCond 37
BsmtExposure 38
BsmtFinType1 37
BsmtFinType2 38
Electrical 1
FireplaceQu 690
GarageType 81
GarageYrBlt 81
GarageFinish 81
GarageQual 81
GarageCond 81
PoolQC 1453
Fence 1179
MiscFeature 1406

In [0]:

print(df['Alley'].value_counts())
print(df['FireplaceQu'].value_counts())

Grvl    50
Pave    41
Name: Alley, dtype: int64
Gd    380
TA    313
Fa     33
Ex     24
Po     20
Name: FireplaceQu, dtype: int64

In [0]:
df['FireplaceQu'].values

array([nan, 'TA', 'TA', ..., 'Gd', nan, nan], dtype=object)

In [0]:
#Since FireplaceQu determines the quality, we fill the NANs with Lo meaning,low quality
df['FireplaceQu']=df['FireplaceQu'].fillna('Lo')

In [0]:
df['FireplaceQu'].isna().sum()

0

In [0]:
df['PoolQC'].value_counts()

Gd    3
Fa    2
Ex    2
Name: PoolQC, dtype: int64

In [0]:
#Dropping PoolQC column
df = df.drop(['PoolQC'],axis=1)

In [0]:
df['Fence'].value_counts()

MnPrv    157
GdPrv     59
GdWo      54
MnWw      11
Name: Fence, dtype: int64

In [0]:
#Again,let's put the NA fence quality as Low
df['Fence'] = df['Fence'].fillna('Low')

In [0]:
df['MiscFeature'].value_counts()

Shed    49
Gar2     2
Othr     2
TenC     1
Name: MiscFeature, dtype: int64

In [0]:
#We will drop this column
df = df.drop(['MiscFeature'],axis=1)

In [0]:
df['LotFrontage'].value_counts()

60.0     143
70.0      70
80.0      69
50.0      57
75.0      53
        ...
106.0      1
38.0       1
138.0      1
140.0      1
137.0      1
Name: LotFrontage, Length: 110, dtype: int64

In [0]:
df['Street'].value_counts()

Pave    1454
Grvl       6
Name: Street, dtype: int64

LotFrontage is the distance from door/gate of house to the street which is totally affected by the type of street . So we fill these Na values based on the type of street .

In [0]:
pavelot = df[df['Street']=='Pave']['LotFrontage'].mean()

In [0]:
grvllot = df[df['Street']=='Grvl']['LotFrontage'].mean()

In [0]:
df[df['Street']=='Grvl']['LotFrontage']

52      110.0
335       NaN
582      81.0
812      66.0
1061    120.0
1184     50.0
Name: LotFrontage, dtype: float64

In [0]:
df.loc[df.Street=='Grvl','LotFrontage'] =  df.loc[df.Street=='Grvl','LotFrontage'].fillna(grvllot)

In [0]:
df.loc[df.Street=='Pave','LotFrontage'] = df.loc[df.Street=='Pave','LotFrontage'].fillna(pavelot)

In [0]:
df.LotFrontage.isna().sum()

0

In [0]:
df[df['Street']=='Grvl']['LotFrontage']

52      110.0
335      85.4
582      81.0
812      66.0
1061    120.0
1184     50.0
Name: LotFrontage, dtype: float64

In [0]:
# Successfully updated LotFrontage column

In [0]:
#Now we focus on the Masvnrtype,masvnrarea attributes

In [0]:
df.MasVnrType.value_counts()

None       864
BrkFace    445
Stone      128
BrkCmn      15
Name: MasVnrType, dtype: int64

In [0]:
df.MasVnrType.head(5)

0    BrkFace
1       None
2    BrkFace
3       None
4    BrkFace
Name: MasVnrType, dtype: object

In [0]:
df.MasVnrArea.value_counts()

0.0      861
72.0       8
180.0      8
108.0      8
120.0      7
        ...
651.0      1
337.0      1
415.0      1
293.0      1
621.0      1
Name: MasVnrArea, Length: 327, dtype: int64

In [0]:
df['MasVnrType'] = df['MasVnrType'].fillna('None')
df['MasVnrArea'] = df['MasVnrArea'].fillna(0.0)

In [0]:
df['Alley'] = df['Alley'].fillna("None")

In [0]:
df['Alley'].isna().sum()

0

In [0]:
for x in nacols:
  print(x,df[str(x)].isna().sum())

LotFrontage 0
Alley 0
MasVnrType 0
MasVnrArea 0
BsmtQual 37
BsmtCond 37
BsmtExposure 38
BsmtFinType1 37
BsmtFinType2 38
Electrical 1
FireplaceQu 0
GarageType 81
GarageYrBlt 81
GarageFinish 81
GarageQual 81
GarageCond 81

KeyError: ignored

In [0]:
df['Electrical'].value_counts()

SBrkr    1334
FuseA      94
FuseF      27
FuseP       3
Mix         1
Name: Electrical, dtype: int64

In [0]:
df['Electrical'] = df['Electrical'].fillna('SBrkr')

In [0]:
df.GarageType.value_counts()

Attchd     870
Detchd     387
BuiltIn     88
Basment     19
CarPort      9
2Types       6
Name: GarageType, dtype: int64

In [0]:
df[['GarageType',
 'GarageYrBlt',
 'GarageFinish',
 'GarageQual',
 'GarageCond','GarageArea','GarageCars']]

     GarageType  GarageYrBlt GarageFinish  ... GarageCond GarageArea  GarageCars
0        Attchd       2003.0          RFn  ...         TA        548           2
1        Attchd       1976.0          RFn  ...         TA        460           2
2        Attchd       2001.0          RFn  ...         TA        608           2
3        Detchd       1998.0          Unf  ...         TA        642           3
4        Attchd       2000.0          RFn  ...         TA        836           3
...         ...          ...          ...  ...        ...        ...         ...
1455     Attchd       1999.0          RFn  ...         TA        460           2
1456     Attchd       1978.0          Unf  ...         TA        500           2
1457     Attchd       1941.0          RFn  ...         TA        252           1
1458     Attchd       1950.0          Unf  ...         TA        240           1
1459     Attchd       1965.0          Fin  ...         TA        276           1

[1460 rows x 7 columns]

In [0]:
df[df['GarageYrBlt'].isna()].GarageCars

39      0
48      0
78      0
88      0
89      0
       ..
1349    0
1407    0
1449    0
1450    0
1453    0
Name: GarageCars, Length: 81, dtype: int64

In [0]:
df[df['GarageYrBlt'].isna()].GarageArea

39      0
48      0
78      0
88      0
89      0
       ..
1349    0
1407    0
1449    0
1450    0
1453    0
Name: GarageArea, Length: 81, dtype: int64

In [0]:
#As cars and area of garage are both zeroes for Nas,means there are no garages in those particular houses

In [0]:


df['GarageType'] = df['GarageType'].fillna('None')
df['GarageYrBlt']=df['GarageYrBlt'].fillna(0)
df['GarageFinish']=df['GarageFinish'].fillna('None')
df['GarageQual']=df['GarageQual'].fillna('None')
df['GarageCond']=df['GarageCond'].fillna('None')

In [0]:
for x in nacols:
  print(x,df[str(x)].isna().sum())

LotFrontage 0
Alley 0
MasVnrType 0
MasVnrArea 0
BsmtQual 37
BsmtCond 37
BsmtExposure 38
BsmtFinType1 37
BsmtFinType2 38
Electrical 0
FireplaceQu 0
GarageType 0
GarageYrBlt 0
GarageFinish 0
GarageQual 0
GarageCond 0

KeyError: ignored

In [0]:
nacols

['LotFrontage',
 'Alley',
 'MasVnrType',
 'MasVnrArea',
 'BsmtQual',
 'BsmtCond',
 'BsmtExposure',
 'BsmtFinType1',
 'BsmtFinType2',
 'Electrical',
 'FireplaceQu',
 'GarageType',
 'GarageYrBlt',
 'GarageFinish',
 'GarageQual',
 'GarageCond',
 'PoolQC',
 'Fence',
 'MiscFeature']

In [0]:
df[['BsmtQual',
 'BsmtCond',
 'BsmtExposure',
 'BsmtFinType1',
 'BsmtFinType2']]

     BsmtQual BsmtCond BsmtExposure BsmtFinType1 BsmtFinType2
0          Gd       TA           No          GLQ          Unf
1          Gd       TA           Gd          ALQ          Unf
2          Gd       TA           Mn          GLQ          Unf
3          TA       Gd           No          ALQ          Unf
4          Gd       TA           Av          GLQ          Unf
...       ...      ...          ...          ...          ...
1455       Gd       TA           No          Unf          Unf
1456       Gd       TA           No          ALQ          Rec
1457       TA       Gd           No          GLQ          Unf
1458       TA       TA           Mn          GLQ          Rec
1459       TA       TA           No          BLQ          LwQ

[1460 rows x 5 columns]

In [0]:
df['BsmtQual'] = df['BsmtQual'].fillna('None')
df['BsmtCond'] = df['BsmtCond'].fillna('None')
df['BsmtExposure'] = df['BsmtExposure'].fillna('No')

In [0]:
df.BsmtFinType1.value_counts()

Unf    430
GLQ    418
ALQ    220
BLQ    148
Rec    133
LwQ     74
Name: BsmtFinType1, dtype: int64

In [0]:
df['BsmtFinType1'] = df['BsmtFinType1'].fillna('Unf')
df['BsmtFinType2'] = df['BsmtFinType2'].fillna('Unf')

In [0]:
nacols

['LotFrontage',
 'Alley',
 'MasVnrType',
 'MasVnrArea',
 'BsmtQual',
 'BsmtCond',
 'BsmtExposure',
 'BsmtFinType1',
 'BsmtFinType2',
 'Electrical',
 'FireplaceQu',
 'GarageType',
 'GarageYrBlt',
 'GarageFinish',
 'GarageQual',
 'GarageCond',
 'PoolQC',
 'Fence',
 'MiscFeature']

In [0]:
#nacols.remove('PoolQC')
nacols.remove('MiscFeature')

In [0]:
for x in nacols:
  print(x,df[str(x)].isna().sum())

LotFrontage 0
Alley 0
MasVnrType 0
MasVnrArea 0
BsmtQual 0
BsmtCond 0
BsmtExposure 0
BsmtFinType1 0
BsmtFinType2 0
Electrical 0
FireplaceQu 0
GarageType 0
GarageYrBlt 0
GarageFinish 0
GarageQual 0
GarageCond 0

KeyError: ignored

In [0]:
#Finally,all the NaNs have been eliminated
#Now we preprocess data for training

In [0]:
df.dtypes

Id                 int64
MSSubClass         int64
MSZoning          object
LotFrontage      float64
LotArea            int64
                  ...
MoSold             int64
YrSold             int64
SaleType          object
SaleCondition     object
SalePrice          int64
Length: 79, dtype: object

In [0]:
#These columns gotta be transformed
objcols = df.columns[df.dtypes=='object'].tolist()

In [0]:
from sklearn.preprocessing import LabelEncoder

In [0]:
le = LabelEncoder()

In [0]:
df['MSZoning'] = le.fit_transform(df['MSZoning'])

In [0]:
for x in objcols:
  df[str(x)] = le.fit_transform(df[str(x)])

In [0]:
df.dtypes

Id                 int64
MSSubClass         int64
MSZoning           int64
LotFrontage      float64
LotArea            int64
                  ...
MoSold             int64
YrSold             int64
SaleType           int64
SaleCondition      int64
SalePrice          int64
Length: 79, dtype: object

In [0]:
any(df.dtypes=='object')

False

In [0]:
df.drop(['Id'],axis=1,inplace=True)

In [0]:
#Now let's train models

In [0]:
#target = df['SalePrice']
target = np.log(target)

In [0]:
df = df.iloc[:,:-1]

In [0]:
from sklearn.model_selection import train_test_split

In [0]:
x_train,x_test,y_train,y_test = train_test_split(df,target,test_size=0.2,random_state=123)

In [0]:
import xgboost as xgb

In [0]:
model = xgb.XGBRegressor(colsample_bytree=0.4603, gamma=0.0468, 
                             learning_rate=0.05, max_depth=3, 
                             min_child_weight=1.7817, n_estimators=1000,
                             reg_alpha=0.4640, reg_lambda=0.8571,
                             subsample=0.5213, silent=1,
                             random_state =7, nthread = -1)

In [0]:


x_train

      MSSubClass  MSZoning  LotFrontage  ...  YrSold  SaleType  SaleCondition
318           60         3    90.000000  ...    2009         8              4
580           20         3    69.985786  ...    2007         8              4
961           60         3    69.985786  ...    2008         8              4
78            90         3    72.000000  ...    2010         8              4
5             50         3    85.000000  ...    2009         8              4
...          ...       ...          ...  ...     ...       ...            ...
1041          60         3    69.985786  ...    2008         8              4
1122          20         3    69.985786  ...    2009         0              0
1346          20         3    69.985786  ...    2006         8              4
1406          85         3    70.000000  ...    2009         8              4
1389          50         4    60.000000  ...    2007         8              4

[1168 rows x 77 columns]

In [0]:
model.fit(x_train,y_train)

/usr/local/lib/python3.6/dist-packages/xgboost/core.py:587: FutureWarning: Series.base is deprecated and will be removed in a future version
  if getattr(data, 'base', None) is not None and \

XGBRegressor(base_score=0.5, booster='gbtree', colsample_bylevel=1,
             colsample_bynode=1, colsample_bytree=0.4603, gamma=0.0468,
             importance_type='gain', learning_rate=0.05, max_delta_step=0,
             max_depth=3, min_child_weight=1.7817, missing=None,
             n_estimators=1000, n_jobs=1, nthread=-1, objective='reg:linear',
             random_state=7, reg_alpha=0.464, reg_lambda=0.8571,
             scale_pos_weight=1, seed=None, silent=1, subsample=0.5213,
             verbosity=1)

In [0]:
pred = model.predict(x_test)

In [0]:
from sklearn.model_selection import KFold, cross_val_score, train_test_split
from sklearn.metrics import mean_squared_error

pred

array([0.91064334, 0.91064334, 0.91064334, 0.91064334, 0.91064334,
       0.91064334, 0.91064334, 0.91064334, 0.91064334, 0.91064334,
       0.91064334, 0.91064334, 0.91064334, 0.91064334, 0.91064334,
       0.91064334, 0.91064334, 0.91064334, 0.91064334, 0.91064334,
       0.91064334, 0.91064334, 0.91064334, 0.91064334, 0.91064334,
       0.91064334, 0.91064334, 0.91064334, 0.91064334, 0.91064334,
       0.91064334, 0.91064334, 0.91064334, 0.91064334, 0.91064334,
       0.91064334, 0.91064334, 0.91064334, 0.91064334, 0.91064334,
       0.91064334, 0.91064334, 0.91064334, 0.91064334, 0.91064334,
       0.91064334, 0.91064334, 0.91064334, 0.91064334, 0.91064334,
       0.91064334, 0.91064334, 0.91064334, 0.91064334, 0.91064334,
       0.91064334, 0.91064334, 0.91064334, 0.91064334, 0.91064334,
       0.91064334, 0.91064334, 0.91064334, 0.91064334, 0.91064334,
       0.91064334, 0.91064334, 0.91064334, 0.91064334, 0.91064334,
       0.91064334, 0.91064334, 0.91064334, 0.91064334, 0.91064334,
       0.91064334, 0.91064334, 0.91064334, 0.91064334, 0.91064334,
       0.91064334, 0.91064334, 0.91064334, 0.91064334, 0.91064334,
       0.91064334, 0.91064334, 0.91064334, 0.91064334, 0.91064334,
       0.91064334, 0.91064334, 0.91064334, 0.91064334, 0.91064334,
       0.91064334, 0.91064334, 0.91064334, 0.91064334, 0.91064334,
       0.91064334, 0.91064334, 0.91064334, 0.91064334, 0.91064334,
       0.91064334, 0.91064334, 0.91064334, 0.91064334, 0.91064334,
       0.91064334, 0.91064334, 0.91064334, 0.91064334, 0.91064334,
       0.91064334, 0.91064334, 0.91064334, 0.91064334, 0.91064334,
       0.91064334, 0.91064334, 0.91064334, 0.91064334, 0.91064334,
       0.91064334, 0.91064334, 0.91064334, 0.91064334, 0.91064334,
       0.91064334, 0.91064334, 0.91064334, 0.91064334, 0.91064334,
       0.91064334, 0.91064334, 0.91064334, 0.91064334, 0.91064334,
       0.91064334, 0.91064334, 0.91064334, 0.91064334, 0.91064334,
       0.91064334, 0.91064334, 0.91064334, 0.91064334, 0.91064334,
       0.91064334, 0.91064334, 0.91064334, 0.91064334, 0.91064334,
       0.91064334, 0.91064334, 0.91064334, 0.91064334, 0.91064334,
       0.91064334, 0.91064334, 0.91064334, 0.91064334, 0.91064334,
       0.91064334, 0.91064334, 0.91064334, 0.91064334, 0.91064334,
       0.91064334, 0.91064334, 0.91064334, 0.91064334, 0.91064334,
       0.91064334, 0.91064334, 0.91064334, 0.91064334, 0.91064334,
       0.91064334, 0.91064334, 0.91064334, 0.91064334, 0.91064334,
       0.91064334, 0.91064334, 0.91064334, 0.91064334, 0.91064334,
       0.91064334, 0.91064334, 0.91064334, 0.91064334, 0.91064334,
       0.91064334, 0.91064334, 0.91064334, 0.91064334, 0.91064334,
       0.91064334, 0.91064334, 0.91064334, 0.91064334, 0.91064334,
       0.91064334, 0.91064334, 0.91064334, 0.91064334, 0.91064334,
       0.91064334, 0.91064334, 0.91064334, 0.91064334, 0.91064334,
       0.91064334, 0.91064334, 0.91064334, 0.91064334, 0.91064334,
       0.91064334, 0.91064334, 0.91064334, 0.91064334, 0.91064334,
       0.91064334, 0.91064334, 0.91064334, 0.91064334, 0.91064334,
       0.91064334, 0.91064334, 0.91064334, 0.91064334, 0.91064334,
       0.91064334, 0.91064334, 0.91064334, 0.91064334, 0.91064334,
       0.91064334, 0.91064334, 0.91064334, 0.91064334, 0.91064334,
       0.91064334, 0.91064334, 0.91064334, 0.91064334, 0.91064334,
       0.91064334, 0.91064334, 0.91064334, 0.91064334, 0.91064334,
       0.91064334, 0.91064334, 0.91064334, 0.91064334, 0.91064334,
       0.91064334, 0.91064334, 0.91064334, 0.91064334, 0.91064334,
       0.91064334, 0.91064334, 0.91064334, 0.91064334, 0.91064334,
       0.91064334, 0.91064334, 0.91064334, 0.91064334, 0.91064334,
       0.91064334, 0.91064334, 0.91064334, 0.91064334, 0.91064334,
       0.91064334, 0.91064334, 0.91064334, 0.91064334, 0.91064334,
       0.91064334, 0.91064334, 0.91064334, 0.91064334, 0.91064334,
       0.91064334, 0.91064334], dtype=float32)

In [0]:
print(y_test)

147     0.920534
676     0.888426
1304    0.902599
1372    0.927225
1427    0.905140
          ...
1012    0.910694
1059    0.920168
890     0.900658
628     0.903895
352     0.891590
Name: SalePrice, Length: 292, dtype: float64

In [0]:
from sklearn.model_selection import KFold, cross_val_score, train_test_split
from sklearn.metrics import mean_squared_error
import numpy as np

#Validation function
n_folds = 10

def rmsle_cv(model):
    kf = KFold(n_folds, shuffle=True, random_state=42).get_n_splits(x_train.values)
    rmse= np.sqrt(-cross_val_score(model, x_train.values, y_train, scoring="neg_mean_squared_error", cv = kf))
    return(rmse)




score = rmsle_cv(model)
print("Xgboost score: {:.4f} ({:.4f})\n".format(score.mean(), score.std()))

/usr/local/lib/python3.6/dist-packages/xgboost/core.py:587: FutureWarning: Series.base is deprecated and will be removed in a future version
  if getattr(data, 'base', None) is not None and \
/usr/local/lib/python3.6/dist-packages/xgboost/core.py:587: FutureWarning: Series.base is deprecated and will be removed in a future version
  if getattr(data, 'base', None) is not None and \
/usr/local/lib/python3.6/dist-packages/xgboost/core.py:587: FutureWarning: Series.base is deprecated and will be removed in a future version
  if getattr(data, 'base', None) is not None and \
/usr/local/lib/python3.6/dist-packages/xgboost/core.py:587: FutureWarning: Series.base is deprecated and will be removed in a future version
  if getattr(data, 'base', None) is not None and \
/usr/local/lib/python3.6/dist-packages/xgboost/core.py:587: FutureWarning: Series.base is deprecated and will be removed in a future version
  if getattr(data, 'base', None) is not None and \
/usr/local/lib/python3.6/dist-packages/xgboost/core.py:587: FutureWarning: Series.base is deprecated and will be removed in a future version
  if getattr(data, 'base', None) is not None and \
/usr/local/lib/python3.6/dist-packages/xgboost/core.py:587: FutureWarning: Series.base is deprecated and will be removed in a future version
  if getattr(data, 'base', None) is not None and \
/usr/local/lib/python3.6/dist-packages/xgboost/core.py:587: FutureWarning: Series.base is deprecated and will be removed in a future version
  if getattr(data, 'base', None) is not None and \
/usr/local/lib/python3.6/dist-packages/xgboost/core.py:587: FutureWarning: Series.base is deprecated and will be removed in a future version
  if getattr(data, 'base', None) is not None and \
/usr/local/lib/python3.6/dist-packages/xgboost/core.py:587: FutureWarning: Series.base is deprecated and will be removed in a future version
  if getattr(data, 'base', None) is not None and \

Xgboost score: 0.0135 (0.0008)

In [0]:
from sklearn.metrics import mean_squared_error
def rmsle(y, y_pred):
    return np.sqrt(mean_squared_error(y, y_pred))

In [0]:

xgb_train_pred = model.predict(x_train)
xgb_pred = np.expm1(model.predict(x_test))
print(rmsle(y_train, xgb_train_pred))

0.013483440455372187

In [0]:
df['3SsnPorch'].value_counts()

0      1436
168       3
216       2
144       2
180       2
245       1
238       1
290       1
196       1
182       1
407       1
304       1
162       1
153       1
320       1
140       1
130       1
96        1
23        1
508       1
Name: 3SsnPorch, dtype: int64

In [0]:
test = pd.read_csv('/content/drive/My Drive/AdvancedRegression/test.csv')

In [0]:
alsotest = pd.read_csv('/content/drive/My Drive/AdvancedRegression/test.csv')

In [0]:
ids = alsotest['Id']

In [0]:
test.head()

     Id  MSSubClass MSZoning  ...  YrSold  SaleType SaleCondition
0  1461          20       RH  ...    2010        WD        Normal
1  1462          20       RL  ...    2010        WD        Normal
2  1463          60       RL  ...    2010        WD        Normal
3  1464          60       RL  ...    2010        WD        Normal
4  1465         120       RL  ...    2010        WD        Normal

[5 rows x 80 columns]

In [0]:
test.isna().sum()

Id                 0
MSSubClass         0
MSZoning           4
LotFrontage      227
LotArea            0
                ...
MiscVal            0
MoSold             0
YrSold             0
SaleType           1
SaleCondition      0
Length: 80, dtype: int64

In [0]:
testnacols = test.columns[test.isna().any()].tolist()

In [0]:
testnacols

['MSZoning',
 'LotFrontage',
 'Alley',
 'Utilities',
 'Exterior1st',
 'Exterior2nd',
 'MasVnrType',
 'MasVnrArea',
 'BsmtQual',
 'BsmtCond',
 'BsmtExposure',
 'BsmtFinType1',
 'BsmtFinSF1',
 'BsmtFinType2',
 'BsmtFinSF2',
 'BsmtUnfSF',
 'TotalBsmtSF',
 'BsmtFullBath',
 'BsmtHalfBath',
 'KitchenQual',
 'Functional',
 'FireplaceQu',
 'GarageType',
 'GarageYrBlt',
 'GarageFinish',
 'GarageCars',
 'GarageArea',
 'GarageQual',
 'GarageCond',
 'PoolQC',
 'Fence',
 'MiscFeature',
 'SaleType']

In [0]:
for x in testnacols:
  print(x,test[str(x)].isna().sum())

MSZoning 4
LotFrontage 227
Alley 1352
Utilities 2
Exterior1st 1
Exterior2nd 1
MasVnrType 16
MasVnrArea 15
BsmtQual 44
BsmtCond 45
BsmtExposure 44
BsmtFinType1 42
BsmtFinSF1 1
BsmtFinType2 42
BsmtFinSF2 1
BsmtUnfSF 1
TotalBsmtSF 1
BsmtFullBath 2
BsmtHalfBath 2
KitchenQual 1
Functional 2
FireplaceQu 730
GarageType 76
GarageYrBlt 78
GarageFinish 78
GarageCars 1
GarageArea 1
GarageQual 78
GarageCond 78
PoolQC 1456
Fence 1169
MiscFeature 1408
SaleType 1

In [0]:
test.MSZoning.value_counts()

RL         1114
RM          242
FV           74
C (all)      15
RH           10
Name: MSZoning, dtype: int64

In [0]:

test['MSZoning'] = test['MSZoning'].fillna('RL')

In [0]:
pavelot = test[test.Street=='Pave']['LotFrontage'].mean()
grvllot = test[test.Street=='Grvl']['LotFrontage'].mean()

In [0]:
test.loc[test.Street=='Grvl','LotFrontage'] =  test.loc[test.Street=='Grvl','LotFrontage'].fillna(grvllot)

In [0]:
test.loc[test.Street=='Pave','LotFrontage'] =  test.loc[test.Street=='Pave','LotFrontage'].fillna(pavelot)

In [0]:
test['LotFrontage'].isna().any()

False

In [0]:
test.Alley.value_counts()

Grvl    70
Pave    37
Name: Alley, dtype: int64

In [0]:
test['Alley'] = test['Alley'].fillna('None')

In [0]:
test['Utilities'].value_counts()

AllPub    1457
Name: Utilities, dtype: int64

In [0]:

test['Utilities'] = test['Utilities'].fillna('AllPub')

In [0]:
test.Exterior1st.value_counts()
test['Exterior1st'] = test['Exterior1st'].fillna('VinylSd')

In [0]:
print(test.Exterior2nd.value_counts())
test['Exterior2nd'] = test['Exterior2nd'].fillna('VinylSd')

VinylSd    510
MetalSd    233
HdBoard    199
Wd Sdng    194
Plywood    128
CmentBd     66
Wd Shng     43
BrkFace     22
Stucco      21
AsbShng     18
Brk Cmn     15
ImStucc      5
CBlock       2
AsphShn      1
Stone        1
Name: Exterior2nd, dtype: int64

In [0]:
test['MasVnrType'] = test['MasVnrType'].fillna('None')
test['MasVnrArea'] =test['MasVnrArea'].fillna(0.0)

In [0]:
test = test.drop(['MiscFeature'],axis=1)

In [0]:
test['BsmtQual'] = test['BsmtQual'].fillna('None')
test['BsmtCond'] = test['BsmtCond'].fillna('None')
test['BsmtExposure'] = test['BsmtExposure'].fillna('No')
test['BsmtFinType1'] = test['BsmtFinType1'].fillna('Unf')
test['BsmtFinType2'] = test['BsmtFinType2'].fillna('Unf')

In [0]:
test['BsmtFinSF1'] = test['BsmtFinSF1'].fillna(0.0)
test['BsmtFinSF2'] = test['BsmtFinSF2'].fillna(0.0)

In [0]:
test['BsmtUnfSF'] = test['BsmtUnfSF'].fillna(0.0)
test.drop(['BsmtUnSF'],axis=1,inplace=True)

KeyError: ignored

In [0]:
for x in testnacols:
  print(x,test[str(x)].isna().sum())

MSZoning 0
LotFrontage 0
Alley 0
Utilities 0
Exterior1st 0
Exterior2nd 0
MasVnrType 0
MasVnrArea 0
BsmtQual 0
BsmtCond 0
BsmtExposure 0
BsmtFinType1 0
BsmtFinSF1 0
BsmtFinType2 0
BsmtFinSF2 0
BsmtUnfSF 0
TotalBsmtSF 1
BsmtFullBath 2
BsmtHalfBath 2
KitchenQual 1
Functional 2
FireplaceQu 730
GarageType 76
GarageYrBlt 78
GarageFinish 78
GarageCars 1
GarageArea 1
GarageQual 78
GarageCond 78
PoolQC 1456
Fence 1169

KeyError: ignored

In [0]:
test['TotalBsmtSF'] = test['TotalBsmtSF'].fillna(0.0)

In [0]:
test['BsmtFullBath'] = test['BsmtFullBath'].fillna(0.0)

In [0]:
test['BsmtHalfBath'] = test['BsmtHalfBath'].fillna(0.0)

In [0]:
test['KitchenQual'] = test['KitchenQual'].fillna('TA')

In [0]:

test['Functional'] = test['Functional'].fillna('Typ')

In [0]:
test['FireplaceQu'].value_counts()

Gd    364
TA    279
Fa     41
Po     26
Ex     19
Name: FireplaceQu, dtype: int64

In [0]:
test['FireplaceQu'] = test['FireplaceQu'].fillna('None')

In [0]:
test['PoolQC'] = test['PoolQC'].fillna('None')
test['Fence'] = test['Fence'].fillna('None')

In [0]:
test[['GarageType',
 'GarageYrBlt',
 'GarageFinish',
 'GarageCars',
 'GarageArea',
 'GarageQual',
 'GarageCond']]

     GarageType  GarageYrBlt GarageFinish  ...  GarageArea  GarageQual GarageCond
0        Attchd       1961.0          Unf  ...       730.0          TA         TA
1        Attchd       1958.0          Unf  ...       312.0          TA         TA
2        Attchd       1997.0          Fin  ...       482.0          TA         TA
3        Attchd       1998.0          Fin  ...       470.0          TA         TA
4        Attchd       1992.0          RFn  ...       506.0          TA         TA
...         ...          ...          ...  ...         ...         ...        ...
1454        NaN          NaN          NaN  ...         0.0         NaN        NaN
1455    CarPort       1970.0          Unf  ...       286.0          TA         TA
1456     Detchd       1960.0          Unf  ...       576.0          TA         TA
1457        NaN          NaN          NaN  ...         0.0         NaN        NaN
1458     Attchd       1993.0          Fin  ...       650.0          TA         TA

[1459 rows x 7 columns]

In [0]:
test['GarageType'] = test['GarageType'].fillna('None')
test['GarageYrBlt'] = test['GarageYrBlt'].fillna(0)
test['GarageFinish'] = test['GarageCars'].fillna('None')
test['GarageArea'] = test['GarageArea'].fillna('None')
test['GarageCond'] = test['GarageCond'].fillna('None')

In [0]:
#test[test.GarageArea=='None']['GarageArea'] = 0.0
test.loc[test['GarageArea']=='None','GarageArea'] = 0.0

In [0]:
test['GarageQual'] = test['GarageQual'].fillna('None')

In [0]:
test['GarageCars'] = test['GarageCars'].fillna(0.0)

In [0]:
for x in testnacols:
  print(x,test[str(x)].isna().sum())

MSZoning 0
LotFrontage 0
Alley 0
Utilities 0
Exterior1st 0
Exterior2nd 0
MasVnrType 0
MasVnrArea 0
BsmtQual 0
BsmtCond 0
BsmtExposure 0
BsmtFinType1 0
BsmtFinSF1 0
BsmtFinType2 0
BsmtFinSF2 0
BsmtUnfSF 0
TotalBsmtSF 0
BsmtFullBath 0
BsmtHalfBath 0
KitchenQual 0
Functional 0
FireplaceQu 0
GarageType 0
GarageYrBlt 0
GarageFinish 0
GarageCars 0
GarageArea 0
GarageQual 0
GarageCond 0
PoolQC 0
Fence 0

KeyError: ignored

In [0]:
test.shape

(1459, 79)

In [0]:
testcols = test.columns.tolist()

In [0]:
print(test['GarageCars'].dtype)

float64

In [0]:
test.head()

     Id  MSSubClass  MSZoning  ...  YrSold  SaleType  SaleCondition
0  1461          20         2  ...    2010        WD         Normal
1  1462          20         3  ...    2010        WD         Normal
2  1463          60         3  ...    2010        WD         Normal
3  1464          60         3  ...    2010        WD         Normal
4  1465         120         3  ...    2010        WD         Normal

[5 rows x 79 columns]

In [0]:
object_type_columns_in_test_lol = []
for x in testcols:
  if test[str(x)].dtype=='object':
    object_type_columns_in_test_lol.append(x)

In [0]:
object_type_columns_in_test_lol

['SaleType', 'SaleCondition']

In [0]:
# test['GarageFinish'].value_counts()
test.loc[test['GarageFinish']=='None','GarageFinish'] = 0.0

In [0]:
test['SaleType'] = test['SaleType'].fillna('WD')

In [0]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()

for x in object_type_columns_in_test_lol:
  test[str(x)] = le.fit_transform(test[str(x)])

In [0]:
test.drop(['Id'],axis=1,inplace=True)

In [0]:
testPools = test['PoolQC']

In [0]:
test.drop(['PoolQC'],axis=1,inplace=True)

In [0]:
output = model.predict(test)

In [0]:
output

array([0.91064334, 0.91064334, 0.91064334, ..., 0.91064334, 0.91064334,
       0.91064334], dtype=float32)

In [0]:
op = pd.DataFrame(output)

In [0]:
op = pd.concat([ids,op],axis=1)

In [0]:
op.head()

     Id         0
0  1461  0.910643
1  1462  0.910643
2  1463  0.910643
3  1464  0.910643
4  1465  0.910643

In [0]:
op.to_csv('sub2.csv')

In [0]:
from sklearn.model_selection import train_test_split, GridSearchCV

from sklearn import tree, ensemble
import xgboost

from sklearn.ensemble import ExtraTreesClassifier
from sklearn.metrics import mean_absolute_error, r2_score, mean_squared_error, confusion_matrix

In [0]:
RF = ensemble.RandomForestRegressor()
RF_params = {
          'n_estimators':[n for n in range(95,100)],
          #'min_samples_leaf': [n for n in range(2, 4)],
          'max_depth': [n for n in range(2, 8)],
          'random_state' : [42]
            }

RF_model = GridSearchCV(RF, param_grid = RF_params, cv = 5, n_jobs = -1)
RF_model.fit(x_train, y_train)
RF_pred = RF_model.predict(x_test)

print("Best Hyper Parameters: ",RF_model.best_params_)
print("Best Score: " + '%.3f' % RF_model.best_score_)
print("MAE result: ", round(mean_absolute_error(y_test, RF_pred)),2)
print("R2 result: " + '%.3f' % r2_score(y_test, RF_pred))

Best Hyper Parameters:  {'max_depth': 7, 'n_estimators': 99, 'random_state': 42}
Best Score: 0.848
MAE result:  0.0 2
R2 result: 0.868

In [0]:
outputRF = RF_model.predict(test)

In [0]:
opRF = pd.DataFrame(outputRF)

In [0]:
opRF = pd.concat([ids,opRF],axis=1)

In [0]:
opRF

        Id         0
0     1461  0.901317
1     1462  0.907746
2     1463  0.912956
3     1464  0.912971
4     1465  0.916365
...    ...       ...
1454  2915  0.887909
1455  2916  0.888484
1456  2917  0.907721
1457  2918  0.898060
1458  2919  0.922460

[1459 rows x 2 columns]

In [0]:
opRF.to_csv('sub3.csv')